<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <label for="name">Name: </label>
          <input type="text"
                 id="name"
                 class="form-control"
                 formControlName="name">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="description">Description: </label>
          <textarea
              type="text"
              id="content"
              rows="6"
              class="form-control"
              formControlName="description"></textarea>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!todoForm.valid">Save</button>
          <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
